name: Main

on:
  push:
  pull_request:
    types: [opened, reopened, edited, synchronize]

jobs:  
  hello-world:
    name: 'Print Hello World'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16


      - name: Echo
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
            echo "$GITHUB_CONTEXT"
            echo ${{ github.repository }}

      - name: Should skip if external
        if: github.event.pull_request.head.repo.full_name == github.repository || !github.repository.fork
        run: |
          node -v